<h1>Adicione um usuario</h1>
<form action="/users/create" method="post" class="form">
    <div class="form-control">
        <label for="name">Nome:</label>
        <input type="text" name="name" placeholder="Digite o nome do usuario">
    </div>
    <div class="form-control">
        <label for="occupation">Profissão:</label>
        <input type="text" name="occupation" placeholder="Digite a profissão">
    </div>
    <div class="form-checkbox">
        <input type="checkbox" name="newsLetter" checked>
        <label for="newsletter">enviar promoções?</label>
    </div>
    <div class="cadastrar">
        <input type="submit" value="Cadastrar" >
    </div>
</form>